extends layout

block content

    h1 Notes Home

    br
    br
    br

    h4 Sign Up
    p To create notes, please&nbsp;
        a(href='/signup') Sign Up

    br
    h4 Log In
    p If you have an account, please&nbsp;
        a(href='/login') Log In
