extends layout

block content

    h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='name') Email address:
            input#name.form-control(type='text', placeholder='email address', name='email', value='')
        div.form-group
            label(for'body') Password:
            input#body.form-control(type='text', placeholder='password', name='password', value='')
        button.btn.btn-primary(type='submit') Submit

    hr

    if (message)
        p= message