extends layout

block content

    h1 #{title}

    br
    if (errors)
        for error in errors
            div!= error.msg
    else if message == 'name_exists'
        div A note with that name already exists.
    else
        br
    br

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='name for new note', name='name', value=(undefined===note ? '' : note.name))
        div.form-group
            label(for'body') Notes:
            input#body.form-control(type='textarea', placeholder='notes', name='body', value=(undefined===note ? '' : note.body))
        button.btn.btn-primary(type='submit') Submit

    hr

